# fly.toml app configuration file generated for bottelegram-rpg on 2026-02-12T20:45:27-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bottelegram-rpg'
primary_region = 'gru'

[build]

[env]
  ASPNETCORE_ENVIRONMENT = 'Production'
  DOTNET_PRINT_TELEMETRY_MESSAGE = 'false'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256

[[mounts]]
  source = "rpg_data"
  destination = "/app/data"